<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8">
    <title>Calculadora</title>
</head>
<body>
  <div class="">
    <div class="">

    </div>
    <label style="font-size:20px; margin-top: 2%; font-family: inherit; color: red;"><%= data.valores[0].valor%></label><br/>
    <label style="font-size:20px; margin-top: 2%; font-family: inherit; color: red;"><%= data.valores[1].valor%></label><br/>
    <label style="font-size:20px; margin-top: 2%; font-family: inherit; color: red;"><%= data.matchmoney[0].jurosmatch%></label><br/>
    <label style="font-size:20px; margin-top: 2%; font-family: inherit; color: red;"><%= data.matchmoney[1].jurosmatch%></label><br/>
      <label style="font-size:20px; margin-top: 2%; font-family: inherit; color: red;"><%= data.config[0].numero_de_valores%></label><br/>
  </div>

</body>

</html>
